{% extends 'base/standard.html.twig' %}

{% block head %}
  <style type="text/css">
    #chat_embed {
      border: 1px solid silver;
      padding-right: 1px;
    }
    .status-block {
      background-color: #F1EDEE;
      border: 1px solid silver;
      padding: 10px;
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1 class="page-header">Twitch Chat Monitor</h1>

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-5">
          <h2>Monitoring process</h2>
          <p style="margin-top: 5px;">
            Under normal circumstances, you should not need to manually start or stop the monitoring process,
            as it should restart automatically in the event of a problem.
          </p>
          <div class="status-block">
            <strong><code>{{ supervisorInfo.name }}</code></strong><br>
            <code>{{ supervisorInfo.description }}</code>
            <div class="h4">
              <span class="label label-{{ running ? 'success' : 'danger' }}">{{ supervisorInfo.statename }}</span>
            </div>
          </div>
          <form action="{{ path('updateSupervisorState') }}" method="POST">
            <input type="hidden" name="action" value="{{ running ? 'stop' : 'start' }}">
            <button class="btn btn-default" type="submit">{{ running ? 'Stop process' : 'Start process' }}</button>
          </form>

          <h3>Links</h3>
          <p>
            <a class="btn btn-default" href="{{ path('sentimentAnalysis') }}">Edit sentiment analysis rules</a>
          </p>
          <p>
            <a class="btn btn-default" href="{{ path('obsOverlay') }}" target="_blank">OBS overlay</a><br>
          </p>
        </div>
        <div class="col-md-7">
          <h2>Last 20 messages</h2>
          <p>
            Only messages from the last hour are shown. Sentiment is calculated as soon as the message is received
            and won't retroactively change if the rules are updated.
          </p>
          <table class="table table-condensed table-bordered" style="background: white;">
              <tr>
                <th style="width: 80px;">Time</th>
                <th>Message</th>
                <th style="width: 80px;">Sentiment</th>
              </tr>
            {% for message in messages %}
              <tr>
                <td>{{ message.date.format('H:i:s') }}</td>
                <td style="font-size: 80%;">{{ message.message }}</td>
                <td>{{ message.sentiment }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Twitch chat</h2>
      <p>
        Sentiment on page load: <strong>{{ currentSentiment }}</strong>
      </p>
      <iframe frameborder="0"
              scrolling="no"
              id="chat_embed"
              src="https://www.twitch.tv/embed/vidyagaemawards/chat"
              height="600"
              width="100%">
      </iframe>
    </div>

  </div>
{% endblock %}
